.video {
  border: 1px solid black;
  position: relative;
  background: #fff;
  width: 90%;
  height: 100%;
  scroll-snap-align: start;
}
.video__player {
  height: 100%;
  width: 100%;
  /* object-fit: fill; */
}
